.menu-bar-con{
	display: flex;
	flex-direction: column;
	position: fixed;
	top: 0;
	left: 0;
	width: 18%;
	min-width: 300px;
	height: 100vh;
	background-color: #ffffff00;
	backdrop-filter: blur(0px);
	z-index: 99;
	align-items: start;
	justify-content: space-around;
	padding: 2%;
	transition: all 0.5s ease-out; 
	transform: translateX(-70%);
	z-index: 9999;
}
.menu-bar-con:hover{
	transform: translateX(0);
	background-color: #ffffff90;
	backdrop-filter: blur(15px);
	-webkit-backdrop-filter: blur(15px);
	transition: all 0.5s ease-out; 
}
.menu-bar-con.active{
	transform: translateX(0);
	background-color: #ffffff90;
	backdrop-filter: blur(15px);
	-webkit-backdrop-filter: blur(15px);
	transition: all 0.5s ease-out; 
}

.menu-bar-con:hover ul {
	transform: translateX(0);
	transition: all 0.5s ease-in-out;
}

.menu-bar-con-ul.active{
	transform: translateX(0);
	transition: all 0.5s ease-in-out;
}

.call-back{
	transform: translateX(-50%);
	transition: all 0.5s ease-in-out; 
	margin-bottom: 20%;
	margin-top: 10%;
}
.menu-bar-con:hover .call-back {
	transform: translateX(0);
	transition: all 0.5s ease-in-out; 
}
.call-back.active {
	transform: translateX(0);
	transition: all 0.5s ease-in-out; 
}




.menu-bar-con ul li{
	margin:1% 0;
}

.menu-bar-con ul{
	margin:8% 0;
	transform: translateX(-50%);
	transition: all 0.5s ease-in-out;
} 

.bar-item h1{
	color: var(--dark_blue);
	font-size: var(--h2);
	font-weight: 300;
	cursor: pointer;
	margin: 5% 0;
}
.bar-item h1:hover{
  color: var(--blue);
	transition: var(--duration);
}
.bar-item{
	transition: var(--duration);
	margin-bottom: 2%;
}


/* .bar-item.active h1{
	color: var(--blue);
	transition: var(--duration);
	font-weight: 400;
} */



.call-back h1{
	color: var(--dark_blue);
	font-size: var(--h2);
	font-weight: 500;
}
.call-back h2{
	color: var(--blue);
	font-weight: 400;
	font-size: var(--h3);
}
.call-back form{
	margin-top: 20px;
}
.call-back form input{
	background-color: transparent;
	border-style: solid;
	border-radius: 0.3em;
	border-width: 0.1px;
	border-color: var(--dark_blue);
	font-size: var(--h2);
	color: var(--dark_blue);
	width: 100%;
	margin-bottom: 2%;
	font-weight: 300;
	padding: 2%;

}

.check{
	font-size: var(--h3);
	font-family: "Montserrat";
	font-weight: 300;
	color: var(--dark_blue);
	cursor: pointer;
	
}
.check-l{
	font-size: var(--h3);
	font-family: "Montserrat";
	font-weight: 400;
	color: var(--dark_blue);
	cursor: pointer;
}
.check-l a{
	cursor: pointer;
	font-weight: 400;
	color: var(--dark_blue);
}
.check-l a:hover{
	cursor: pointer;
	font-weight: 400;
	color: var(--blue);
	cursor: pointer;
}
#check{
	height: 1.5vh;
	width: 1vw;
	margin: 0 1% 0 0;
	display: flex;
	align-items: start;

}
.check {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.check+label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}
.check+label::before {
  content: '';
  display: inline-block;
  width: 1em;
  height: 1em;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #337AB7;
  border-radius: 0.25em;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}
.check:checked+label::before {

  border-color: #337AB7;
  background-color: #337AB7;
}

.check-con{
	display: flex;
	padding: 1vh 0;
}
input[type="checkbox"]{
  accent-color: var(--blue);
}


.call-back form input:focus {
	border-width: 2px;
	outline: none !important;
}
.call-back form input::placeholder{
	font-family: "Montserrat", sans-serif;
	color: var(--dark_blue);
	font-weight: 200;
	width: 100%;
	font-size: var(--h3);
	padding: 2%;
}
.check-btn{
	width: 100%;
	background-color: var(--blue);
	font-size: var(--h3);
	color: #ffffff;
}
.check-btn:hover{
	background-color: var(--dark_blue);
}

.check-con{
	display: flex;
	padding: 1vh 0;
}
.check-con a{
	font-family: "Montserrat", sans-serif;
	color: var(--dark_blue);
	font-size: var(--h3);
}
.c-btn{
	font-family: "Montserrat", sans-serif;
	color: var(--dark_blue);
	font-size: var(--h3);
	background-color: transparent;
	padding: 1% 2%;
	margin-right: 2%;
	border-style: solid;

}

.privacy-con{
	display: flex;
	justify-content: center;
	align-items: center;
}
.privacy{
	width: 80%;
	padding: 10% 0;
}
.privacy h1{
	font-size: var(--h11);
	color: var(--blue);
	width: 400;
}
.privacy h2{
	font-size: var(--h1);
	color: var(--blue);
	width: 400;
	margin: 5% 0 0 0;
}
.privacy h3{
	font-size: var(--h2);
	line-height: 1.8;
}


/* under-menu */
.under-menu h2{
	color: var(--dark_blue);
	font-weight: 400;
	cursor: pointer;
	font-size: var(--h3);
	margin-left: 3vh;
	line-height: 1.8;
}
.under-menu.active h2{
	transition: var(--duration);
	color: var(--blue);
	font-weight: 500;
}
.under-menu:hover h2{
	transition: var(--duration);
	color: var(--blue);
	font-weight: 500;
}



/* menu-bar */
.undermenu-bar {
	display: none;
	opacity: 0;
	transition: opacity 0.5s ease;
}

.menu-bar.active > .undermenu-bar {
	display: block;
	animation: fadeIn 0.5s forwards;
}

.menu-bar {
	list-style-type: none;
}
.menu-bar h1{
	color: var(--dark_blue);
	font-weight: 400;
	cursor: pointer;
	font-size: 1.8vh;
	transition: var(--duration);
}
.menu-bar h1:hover{
	color: var(--blue);
	font-weight: 400;
	cursor: pointer;
	font-size: 1.8vh;
	transition: var(--duration);
}
.menu-bar.active h1{
	color: var(--blue);
	font-weight: 400;
	cursor: pointer;
	font-size: 1.8vh;
	transition: var(--duration);
}