body{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
}

.title{
	display: flex;
	flex-direction: column;
	width: 100%;
	margin-top: 7%;
}
.title h1{
	font-size: var(--h11);
	color: var(--blue);
	margin-top: 5%;
}
.title-text{
	display: flex;
	width: 100%;
	height:80vh;
	margin: 0 0 10% 0;
}
.title-text div{
	height: auto;
	margin: 0 0 10% 0;
}

.title-text div h2{
	font-size: var(--h2);
	color: var(--black);
	margin-top: 10%;
	width: 90%;
}
.about div{
	display: flex;
	flex-wrap: wrap;
}
.about_btn_text a button{
	font-family: "Montserrat";
	font-weight: 300;
	color: var(--blue);
	font-size: var(--h2);
	border-style: none;
	background-color: transparent;
	cursor: pointer;
	margin: 3% 0.5% 0% 0.5%;
	
}
.about_btn_text a button:hover{
	color: var(--dark_blue);
}
.img-title{
	height: 95%;
	width: auto;
	margin: 0;
}

.swiper-button-next:after, .swiper-button-prev:after{
	font-size: 2vw!important;
}
.swiper-button-next {
	right: 2vw!important;
}
.swiper-button-prev {
	left: 2vw!important;
}

.swiper-pagination-bullet{
	width: 0.4vw!important;
	height: 0.4vw!important;
	margin: 0.2vw!important;
}

.swiper-pagination-bullet-active{
	background: var(--blue)!important;
}


/* ------------------------2 ABOUT----------------- */
.about{
	display: flex;
	flex-wrap: wrap;
	margin-top: 10vh;
}
.about h1{
	color: var(--blue);
	font-size: var(--h11);
	line-height: 1;
}
.about div{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: 100%;
	display: flex;
}
.about div div{
	width: 45%;
	display: flex;
	flex-wrap: nowrap;
	margin: 2% 4% 2% 0;
	padding: 2%;
	transition: var(--duration);
}
/* .about div div:hover{
	box-shadow: 0 0 50px #00000020;
	border-radius: 0.5vw;
	transition: var(--duration);
} */
.about div div h3{
	color: var(--dark_blue);
	font-size: var(--h2);
	width: 85%;
}
.about div div img{
	margin-right: 2%;
	width: 7vw;
}



/* ---------------------3 OBORUD------------------------ */

.oborud-title{
	display: flex;
	flex-direction: column;
	align-items: start;
	margin-top: 10%;
}
.oborud h1{
	color: var(--blue);
	font-size: var(--h11);
	line-height: 1;
}
.oborud-title_text h2{
	color: var(--black);
	font-size: var(--h2);
	margin: 3% 3% 3% 0;
}
.oborud-title_text {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.oborud-title_text h2 span{
	color: var(--blue);
	font-size: var(--h2);
	font-weight: 400;
}
.oborud-title_text img{
	width: 70%;
}
/* ----------------------3 UR INFO----------------------- */

.slide-ur_info{
	flex-direction: column;
	background-color: #d2d2d210;
	margin-top: 10%;
}
.slide-ur_info h1{
	color: var(--blue);
	font-size: var(--h11);
	margin: 3% 0 2% 0;
	line-height: 1;
}

 .ur-info{
	display: flex;
	flex-direction: column;
	padding: 0 1%;
}

.ur-info-carts{
	display: flex;
}
.ur-info-carts div{
	display: flex;
	flex-direction: column;
}  
.ur-info-carts  div h2{
	margin: 0 3% 3% 0;
	box-shadow: 0 0 20px #00000020;
	border-radius: 0.5em;
	height: fit-content;
	padding: 4% 4%;
	color: var(--dark_blue);
	line-height: 1.5;
	font-weight: 400;
	font-size: var(--h2);
}
.ur-info-carts div h2 span{
	color: var(--blue);
	font-weight: 300;
	line-height: 1.5;
	font-size: var(--h2);
}

/* ---------------------4 SERTI------------------------ */

.serti{
	display: flex;
	flex-direction: column;
	align-items: start;
	margin-top: 10%;
}
.serti h1{
	color: var(--blue);
	font-size: var(--h11);
	margin: 3% 3% 3% 0;
	line-height: 1;
}
.mini-sert{
	width: 100%;
	display: flex;
	justify-content: space-around;
}
.s-img{
	width: 20%;
	cursor: pointer;
	transition: var(--duration);
	gap: 2;
}
.s-img:hover{
	scale:1.1;
	transition: var(--duration);
}
.cover-sert.active{
	animation: fadeInBack 0.5s ease forwards; 
	position: fixed;
	display: flex;
	width: 100%;
	height: 100%;	
	background-color: #00000099;
	z-index: 100;
	align-items: center;
	justify-content: center;
	backdrop-filter: blur(5px);
	z-index: 9999;
	top: 0;
	left: 0;
}
.cover-sert{
	display: none;
}
.cover-img{
	display: none;
}
.cover-img.active {
	display: flex;
	height: 90%;
	position: absolute;
	animation: fadeIn-sert 0.5s ease forwards; 
}
/* .title-btn{
	width: 100%;
	display: flex;
	justify-content: end;	
}
.title-btn button{
	width: fit-content;
} */
.save-img img{
	height: 10vh;
	position: absolute;
	transform: translateY(0);
	top: 70%;
	right: 18%;
	cursor: pointer;
	transition: var(--duration);
}
.save-img img:hover{
	transform: translateY(20px);
	transition: var(--duration);
}
/* ---------------------5 uslugi------------------------ */
.uslugi{
	display: flex;
	flex-direction: column;
	align-items: start;
	margin-top: 10%;
}
.uslugi h1{
	color: var(--blue);
	font-size: var(--h11);
	margin: 3% 3% 3% 0;
	line-height: 1;
}

.call-back-img{
	position: fixed;
	width: 5%;
	bottom: 5%;
	left: 2%;
	z-index: 9;
}

.oborud-img-mob{
	display: none;
}