
@import url('font.css');
@import url('bar.css');
@import url('content.css');
@import url('nav.css');

@import url('cont.css');
@import url('prodaction.css');
@import url('media.css');




:root {
	--black: #222222;
	--gray:#808080;
	--light_gray:#f3f3f3;
	--blue: #337AB7;
	--dark_blue: #00487F;
	--duration: all 0.5s ease;
	--h11: 4vh;
	--h1: 3vh;
	--h2: 2vh;
	--h3: 1.5vh;
}
body{
	background-color: #ffffff;
}

*{
	cursor: auto;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
li {
  list-style-type: none;
	cursor: pointer;
}
h1, h2, h3, span, a{
	font-family: "Montserrat";
	font-weight: 300;
	font-size: var(--h3);
	color: var(--main_black);
	text-decoration: none;
	line-height: 1.5;
}
.element::-webkit-scrollbar {
  width: 0;
}

/*Убрать полосу прокрутки для всей страницы*/
::-webkit-scrollbar {
  width: 0;
}
html {
	scroll-behavior: smooth;
}


.button{
	font-family: "Montserrat";
	font-weight: 400;
	font-size: var(--h2);
	color: #ffffff;
	background-color: var(--blue);
	border-style: none;
	border-radius: 0.4em;
	padding: 0.7vh 2.5vh;
	transition: var(--duration);
	cursor: pointer;
	letter-spacing: 0.5px;
}
.button:hover{
	background-color: var(--dark_blue);
}
.logo-bar{
	display: none;
}
.container{
	width: 100%;
	height: fit-content;
	display: flex;
	flex-direction: column;
	align-items: end;
	justify-content: end;
	padding: 0 8%;
}
.swiper {
	width: 100%;
	height: 87%;
	margin-bottom: 2%;
}
.swiper-slide {
	display: flex;

	padding: 0 5%;
	background-color: #ffffff;
	border-radius: 0.5em;
}
.just-validate-error-label{
	font-family: "Montserrat";
	font-weight: 300;
	color:palevioletred;
	font-size: var(--h3);
}

.swiper-pagination-vertical.swiper-pagination-bullets,.swiper-vertical>.swiper-pagination-bullets {
	left: var(--swiper-pagination-right,8px) !important;
	right: var(--swiper-pagination-left,auto)!important;
}
.swiper-pagination-bullets {
	color: var(--blue)!important;
}
.swiper-button-next,.swiper-button-prev {
	position: absolute;
	top: var(--swiper-navigation-top-offset,50%);
	width: calc(var(--swiper-navigation-size)/ 44 * 27);
	height: var(--swiper-navigation-size);
	margin-top: calc(0px - (var(--swiper-navigation-size)/ 2));
	z-index: 10;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--blue)!important;
}
.menu-mob{
	display: none;
}
.foot-mob{
	display: none;
}
.menu-contacts-mob{
	display: none;
}

@keyframes fadeIn {
	from {
			opacity: 0; 
			transform: translateX(-20px);
			transition: var(--duration);
	}
	to {
			opacity: 1; 
			transform: translateX(0px);
			transition: var(--duration);
	}
}
@keyframes fadeIn-sert {
	from {
			opacity: 0; 
			transform: translateY(-20px); 
			transition: var(--duration)
	}
	to {
			opacity: 1; 
			transform: translateY(0); 
			transition: var(--duration)
	}
}
@keyframes fadeInBack {
	from {
			opacity: 0; 
	}
	to {
			opacity: 1; 
	}
}

.sl-2-mob{
	display: none!important;
}

/* @keyframes fadeIn {
	from {
			opacity: 0;
			transform: translateY(-10px); 
	}
	to {
			opacity: 1;
			transform: translateY(0);
	}
} */
