.content_con{
	display: flex;
	flex-direction: column;
	position: relative;
	top: 0;
	right: 0;
	justify-content: center;
	width: 100%;
	height: 100%;
	margin: 0;
}
.content{
	display: flex;
	flex-direction: column;
	justify-content: end;
	width: 100%;
	background-color: #ffffff;
	padding: 4%;
}


/* -----------categories------------------- */
.categories-con{
	display: flex;
	color: var(--blue);
	gap: 2vw;
	margin: 1vw 0 1vw 0;
	flex-wrap: wrap;
	justify-content: center;
}
.categories{
	transition: var(--duration);
	background-color: var(--dark_blue)!important;
	font-size: var(--h3)!important;
	border-radius: 0.5em;
	
}
.categories.active{
	color: #ffffff;
	background-color: var(--blue)!important;
	border-color: var(--blue);
	box-shadow: 0 0.2vw 0.8vw #2222224f;
}
/* -------------main-content--------------------- */
.main-content{
	display: flex;
	height: 70%;
	justify-content: space-between;
}
.segment-swiper{
	height: 100%!important;
	display: flex;
}
.main-content_text{
	display: flex;
	flex-direction: column;
	width: 30%;
	margin-left: 3%;
}
.main-content_text h1{
	font-size: var(--h1);
	font-weight: 500;
	color: var(--dark_blue);
}
.main-content_text h2{
	font-size: var(--h1);
	font-weight: 400;
	color: var(--blue);
}
.main-content_text p{
	font-family: "Montserrat";
	font-weight: 300;
	font-size: var(--h3);
	color: var(--gray);
	margin: 1vw 0 0 0;
	line-height: 1.5;
}
.main-content_text button{
	width: fit-content;
}
.i-zamoroz.hide{
	display: none;
}
.btn-segment_con{
	display: flex;
	flex-wrap: wrap;
	justify-content: start;
	margin: 1vw 0 1vw -2vh;
}
.btn-segment{
	color: var(--dark_blue);
	width: fit-content;
	padding: 1vh 2vh; 
	cursor: pointer;
	font-size: var(--h2);
	line-height: 1.2;
}

.btn-segment:hover{
	border-radius: 0.4em;
	padding: 1vh 2vh; 
	background-color: #f3f3f3;
}



.main-content_podsegment{
	width: 100%;
	height: auto;
	background-color: #b6b6b600;
	border-radius: 1vw;
	display: flex;
	align-items: start;
	justify-content: space-between;
	padding: 1% 2%;
}
.main-content_podsegment img{
	height: 100%;
	width: auto;
	border-radius: 1vw;
	max-height: 50vw;
}
.img-con{
	height: 50vh;
	width: 70%;
	border-radius: 1vw;
	background-color: #f3f3f3;
	display: flex;
	align-items: center;
	justify-content: center;
}

.text-categories {
	opacity: 0;
	transform: translateX(-5vw);
	transition: all 0.1s;
}

.text-categories.move {
	transform: translateX(0);
	transition: all 0.3s ease-out;
	opacity: 1;
}

.text-segment {
	opacity: 0;
	transform: translateX(-3vw);
	transition: all 0.1s;
}

.text-segment.move {
	transform: translateX(0);
	transition: all 0.3s ease-out;
	opacity: 1;
}

.buttons-slide{
	gap: 0.5vw 1vw;
	display: none;
	flex-wrap: wrap;
	margin-top: 2vw;
}




/* ---------------segment------------------ */
.segment-btn_con{
	display: flex;
	width: 100%;
	justify-content: center;
	gap: 1.5vw;
	margin-bottom: 3%;
}
.segment-cover{
	display: flex;
	flex-direction: column;
	justify-content: end;
	align-items: center;
	margin-top: 2vw;
	width: 6.7vw;
	height: 6vw;
	background-color: var(--blue);
	border-radius: 0.6vw;
	z-index: 1;
	cursor: pointer;
}
.segment{
	display: flex;
	flex-direction: column;
	justify-content: end;
	align-items: center;
	margin-top: -6vw;
	width: 6.7vw;
	height: 6vw;
	background-color: #ffffff;
	border-style: solid;
	border-radius: 0.6vw;
	border-width: 0.15vw;
	border-color: var(--blue);
	z-index: 2;
	transition: var(--duration);
	cursor: pointer;
}
.segment-btn:hover .segment{
	margin-top: -8vw;
	transition: var(--duration)
}
.segment.active{
	margin-top: -8vw;
}
.segment.active >.segment-cover{
	height: 2vw;
}


.segment-btn:hover .low{
	margin-top: -7.5vw;
	transition: var(--duration)
}



.segment-title-dark{
	transform: translateY(0vw);
	color: var(--dark_blue);
	font-weight: 400;
	font-size: 1.5vw;
	cursor: pointer;
	text-align: center;
	line-height: 1.1;
	opacity: 0;
	transition: all 0.25s ease-out;
	position: absolute;
}

.segment-title-dark.show{
	transform: translateY(2vw);
	opacity: 1;
	transition: all 0.25s ease-out;
}



.segment-title{
	font-weight: 400;
	color: #ffffff;
	font-size: 0.7vw;
	padding: 0.5vw;
	cursor: pointer;
	text-align: center;
	line-height: 1.1;
	transform: translateY(0vw);
	opacity: 1;
	transition: var(--duration);
	z-index: 0;
} 
.segment-titles.show{
	transform: translateY(-2vw);
	opacity: 0;
	transition: var(--duration);
} 



.segment img{	
	width: 5.7vw;
	cursor: pointer;
	z-index: 3;
}
.low.active{
	margin-top: -7.5vw;
}
