.content_con{
	display: flex;
	flex-direction: column;
	position: fixed;
	top: 0;
	right: 0;
	justify-content: end;
	width: 100%;
	height: 100%;
	margin: 0;
}
.content{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	height: 87%;
	width: 100%;
	background-color: #ffffff;
	margin-bottom: 2%;
	padding: 2% 4%;
}
/* ----------------navigation---------------*/
.navigation{
	display: flex;
	gap: 2vh;
}
.navigation p{
	font-family: "Montserrat";
	font-weight: 400;
	font-size: var(--h3);
	font-weight: 300;
	color: var(--gray);
	cursor: pointer;
}


/* -----------categories------------------- */
.categories-con{
	display: flex;
	color: var(--blue);
	gap: 2vw;
	margin: 1vw 0 1vw 0;
	flex-wrap: wrap;
}
.categories{
	transition: var(--duration);
	background-color: var(--dark_blue)!important;
	font-size: var(--h3)!important;
	border-radius: 0.5em;
	
}
.categories.active{
	color: #ffffff;
	background-color: var(--blue)!important;
	border-color: var(--blue);
	box-shadow: 0 0.2vw 0.8vw #2222224f;
}
/* -------------main-content--------------------- */
.main-content{
	display: flex;
	height: 70%;
}
.segment-swiper{
	height: 100%!important;
	display: flex;
}
.main-content_text{
	display: flex;
	flex-direction: column;
	width: 30%;
	margin-left: 3%;
}
.main-content_text h1{
	font-size: var(--h1);
	font-weight: 500;
	color: var(--dark_blue);
}
.main-content_text h2{
	font-size: var(--h1);
	font-weight: 400;
	color: var(--blue);
}
.main-content_text p{
	font-family: "Montserrat";
	font-weight: 300;
	font-size: var(--h2);
	color: var(--gray);
	margin: 1vw 0;
}
.main-content_podsegment{
	width: 75%;
	height: auto;
	background-color: #b6b6b620;
	border-radius: 1vw;
}
.text-categories {
	opacity: 0;
	transform: translateX(-5vw);
	transition: all 0.1s;
}

.text-categories.move {
	transform: translateX(0);
	transition: all 0.3s ease-out;
	opacity: 1;
}

.text-segment {
	opacity: 0;
	transform: translateX(-3vw);
	transition: all 0.1s;
}

.text-segment.move {
	transform: translateX(0);
	transition: all 0.3s ease-out;
	opacity: 1;
}

.buttons-slide{
	gap: 0.5vw 1vw;
	display: flex;
	flex-wrap: wrap;
	margin-top: 2vw;
}
.buttons-slide.show{
	font-size: var(--h3);
}

/* ---------------segment------------------ */
.segment-btn_con{
	display: flex;
	width: 100%;
	justify-content: center;
	gap: 1.5vw;
}
.segment-cover{
	display: flex;
	flex-direction: column;
	justify-content: end;
	align-items: center;
	margin-top: 2vw;
	width: 6.7vw;
	height: 6vw;
	background-color: var(--blue);
	border-radius: 0.6vw;
	z-index: 1;
	cursor: pointer;
}
.segment{
	display: flex;
	flex-direction: column;
	justify-content: end;
	align-items: center;
	margin-top: -6vw;
	width: 6.7vw;
	height: 6vw;
	background-color: #ffffff;
	border-style: solid;
	border-radius: 0.6vw;
	border-width: 2px;
	border-color: var(--blue);
	z-index: 2;
	transition: var(--duration);
	cursor: pointer;
}
.segment-btn:hover .segment{
	margin-top: -8vw;
	transition: var(--duration)
}
.segment.active{
	margin-top: -8vw;
}
.segment.active >.segment-cover{
	height: 2vw;
}


.segment-btn:hover .low{
	margin-top: -7.5vw;
	transition: var(--duration)
}
.low.active{
	margin-top: -7.5vw;
}


.segment-btn h2{
	font-weight: 400;
	color: #ffffff;
	font-size: 0.7vw;
	padding: 0.5vw;
	cursor: pointer;
	text-align: center;
	line-height: 1.1;
}
.segment img{	
	width: 5.7vw;
	cursor: pointer;
}

/* ------------swiper-------------- */



.segment-slide{
	display: none!important;
	background-color: var(--light_gray)!important;
	margin: 0;
	height: 100%;
	align-items: start;
	justify-content: start;
	padding: 0 15%;
}
.segment-slide .text{
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 70%;
	margin: 10% 0;
}
.segment-slide.show{
	display: flex !important;
	margin: 0;
	height: 100%;
}
.segment-slide .text h1{
	font-size: var(--h11);
	font-weight: 500;
	color: var(--dark_blue);
	line-height: 1.2;
	width: 150%;
}
.segment-slide .text h2{
	margin-top: 0.5vw;
	font-size: var(--h2);
	font-weight: 300;
	color: var(--blue);
}
.segment-slide img{
	/* position: absolute;
	right: 15%;
	bottom: 10%; */
	height: 90%;
}


/* ------------------- КНОПКИ КАТЕГОРИЙ ----------------------- */

.btn-slide {
	display: none;
	opacity: 0; 
	animation: fadeIn 0.5s forwards; 
	transition: var(--duration);
}

.btn-slide.show {
	display: block; 
	background-color: #ffffff;
	color: var(--blue);
	border-style: solid;
	border-width: 0.25vh;
	border-color: var(--blue);
	transition: var(--duration);
	font-size: var(--h3);
	border-radius: 0.5em;
}
.btn-slide:hover{
	background-color: var(--blue)!important;
	color: #ffffff;
	border-color: var(--blue);
	box-shadow: 0 0.2vw 0.5vw #2222224f;
	transition: var(--duration);
} 
.btn-slide.active{
	background-color: var(--blue);
	color: #ffffff;
	border-color: var(--blue);
	box-shadow: 0 0.2vw 0.5vw #2222224f;
	transition: var(--duration);
} 


